<app-nav-bar></app-nav-bar>

<div id="containerDetails">
    <h2>Roque Nublo</h2>
    <img src="../../../assets/images/Roque_nublo.jpg">
    <p>Location: Gran Canaria, Tejeda</p>
    <p>
        LOREM MACU MACU LORE LORE MACU MACU
        OREM MACU MACU LORE LORE MACU MACU
        OREM MACU MACU LORE LORE MACU MACU
        OREM MACU MACU LORE LORE MACU MACU
    </p>
</div>

<p id="Reviews">Reviews</p>
<hr>
<app-review-comment score="0" name="username" content="HATE THIS PLACE, IS SHIT"></app-review-comment>
<app-review-comment score="1"  name="username" content="WOW I LOVE YOU SO MUCH ROQUE NUBLOOOOoooo"></app-review-comment>
