div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 2px black;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
}

div h2{
    margin-bottom: 0.5em;
}

button{
    border: solid 1px black;
    border-radius: 0.5em;
    background-color: red;
    color: white;
    margin-top: 1em;
    width: 40%;
    padding: 0.5em;
}