#post{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E26A2C;
    color: white;
    width: 80%;
    margin-left: 5%;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
    border: solid 2px black;
}