<app-nav-bar></app-nav-bar>
<a routerLink="/help"><img src="../../assets/images/doubts.png"></a>
<div id="containerForm"> 
    <form (ngSubmit)="onSubmit()" [formGroup]="user">
        <h2>Log In</h2>
        <label>Username</label>
        <input 
            type="text"
            placeholder="Type..." 
            formControlName="username">
        <label>Password</label>
        <input 
            type="password"
            placeholder="Type..." 
            formControlName="password">
            <button type="submit" [disabled]="user.invalid">Log In</button>
    </form>
</div>

<div id="containerText">
    <p>Do not have an account?</p>
    <p>Register <a routerLink="/register">here</a></p>
</div>