<app-nav-bar></app-nav-bar>

<div  class="slideshow-container">
    <div class="mySlides fade">
        <img src="../../../assets/images/Roque_nublo.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="../../../assets/images/Maspalomas.jpg" style="width:100%">

    </div>

    <div class="mySlides fade">
        <img src="../../../assets/images/Telde.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div *ngFor="let p of places">
    <app-place-card title="{{p.title}}" image="{{p.image}}" location="{{p.direction}}" typeImg="{{p.typeImg}}" (click)="goToThisPlace(p.id)"></app-place-card>
</div>