<app-nav-bar></app-nav-bar>
<app-place-card title="Roque Nublo" url="../../../assets/images/Roque_nublo.jpg" location="Gran Canaria, Tejeda" reviews="42" (click)="goToPlace()"></app-place-card>
<app-place-card title="Roque Nublo" url="../../../assets/images/Roque_nublo.jpg" location="Gran Canaria, Tejeda" reviews="42" (click)="goToPlace()"></app-place-card>
<app-place-card title="Roque Nublo" url="../../../assets/images/Roque_nublo.jpg" location="Gran Canaria, Tejeda" reviews="42" (click)="goToPlace()"></app-place-card>
<app-place-card title="Roque Nublo" url="../../../assets/images/Roque_nublo.jpg" location="Gran Canaria, Tejeda" reviews="42" (click)="goToPlace()"></app-place-card>
<app-place-card title="Roque Nublo" url="../../../assets/images/Roque_nublo.jpg" location="Gran Canaria, Tejeda" reviews="42" (click)="goToPlace()"></app-place-card>
