<app-nav-bar></app-nav-bar>
<img *ngxPermissionsExcept="['ROLE_ADMIN', 'ROLE_USER']" id="profilePic" src="../../assets/images/userUnlogged.png" />
<img *ngxPermissionsOnly="['ROLE_USER']" id="profilePic" src="assets/images/loggedUser.png" />
<img *ngxPermissionsOnly="['ROLE_ADMIN']" id="profilePic" src="../../assets/images/userAdmin.png" />

<form (ngSubmit)="onSubmit()" [formGroup]="user">
    <label>Username</label>
    <input 
        [(ngModel)]="username"
        type="text"
        placeholder="Your username" 
        formControlName="name"
        required>
    <label>Email</label>
    <input 
        [(ngModel)]="email"
        type="text"
        placeholder="Your email" 
        formControlName="email"
        required>
    <div>
        <button type="submit" [disabled]="user.invalid">Update</button>
    </div>
</form>
