<app-nav-bar></app-nav-bar>

<a routerLink="/help"><img src="../../assets/images/doubts.png"></a>

<div id="containerForm">
    <form>
        <h2>Register</h2>
        <label>Username</label>
        <input placeholder="Type...">
        <label>Email</label>
        <input placeholder="Type...">
        <label>Password</label>
        <input placeholder="Type...">
        <label>Repeat Password</label>
        <input placeholder="Type...">
        <button type="submit" routerLink="/profile">Register</button>
    </form>
</div>