<app-nav-bar></app-nav-bar>

<a routerLink="/help"><img src="../../assets/images/doubts.png"></a>

<div id="containerForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="user">
        <h2>Register</h2>
        <label>Username</label>
        <input 
            type="text"
            placeholder="Type..." 
            formControlName="username">
        <label>Email</label>
        <input 
            type="text"
            placeholder="Type..." 
            formControlName="email">
        <label>Password</label>
        <input 
            type="text"
            placeholder="Type..." 
            formControlName="password">
        <label>Repeat Password</label>
        <input 
            type="text"
            placeholder="Type..." 
            formControlName="repeatPassword">

        <button type="submit" [disabled]="user.invalid">Log In</button>
    </form>
</div>