div{
    background-color: #E26A2C;
    width:100vw;
    position: sticky;
    z-index: 5;
    top: 0;
}
a{
    height: 100%;
    margin-left: 0.5em;
}
#logo{
    width:4.5em;
    height: 100%;
}

#profilePic{
    margin-top:0.4em;
    float: right;
    width:5.2em;  
    height: 100%;
}