<app-nav-bar></app-nav-bar>

<div id="containerForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="contact">
        <label>Subject</label>
        <input 
            type="text"
            placeholder="Type..." 
            formControlName="subject">
        <label>Description</label>
        <textarea 
            type="text"
            placeholder="Type..." 
            formControlName="description"></textarea>
            <button type="submit" [disabled]="contact.invalid">Send</button>
    </form>
</div>
