div {
    display: flex;
    flex-direction: row;
    background-color: #F5F1ED;
    width: auto;
    margin: 2em;
    align-items: center;
}
img{
    display: inline;
    width: 3em;
    padding: 0.3em;
    height: 100%;
    background-color: #FDA65D;
}
img:hover{
    background-color: #E29554;
}
p{
    display: inline;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 3em;
}