<app-nav-bar></app-nav-bar>
<div id="imageContainer">
    <img src="../../assets/images/configuration.png" routerLink="/configuration">
    <img src="../../assets/images/doubts.png" routerLink="/help">
    <img id="logout" src="../../assets/images/logout.png" (click)="logout()">
</div>

<div id="informationContainer">
    <img *ngxPermissionsExcept="['ROLE_ADMIN', 'ROLE_USER']" id="profilePic" src="../../assets/images/userUnlogged.png" />
    <img *ngxPermissionsOnly="['ROLE_USER']" id="profilePic" src="assets/images/userPlaceholder.png" />
    <img *ngxPermissionsOnly="['ROLE_ADMIN']" id="profilePic" src="../../assets/images/userAdmin.png" />

<h2>{{user.username}}</h2>
<h3>{{user.email}}</h3>

<div id="buttonContainer" *ngxPermissionsOnly="['ROLE_ADMIN']">
    <button routerLink="/adminPlaces">List Places</button>
    <button routerLink="/adminUsers">List Users</button>
</div>

<p>Reviews: </p>

<app-review-card score="0" place="Roque Nublo" date="22/07/11"></app-review-card>
<app-review-card score="1" place="Maspalomas" date="25/07/11"></app-review-card>
</div>
