#imageContainer{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    left: 70%;
}

#logout{
    float: left;
}

#imageContainer img{
    width: 2em;
    margin:8%;
}

#profilePic{
    width:50%;
    margin-left: 5%;
    margin-top: 1em;
}
#informationContainer{
    margin-top:10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#informationContainer h2{
    margin-left: 10%;
    margin-top: 5%;
    align-self: flex-start;
}

#informationContainer h3{
    margin-left: 10%;
    margin-top: 5%;
    align-self: flex-start;
}

#informationContainer p{
    font-weight: bold;
    margin-left: 10%;
    margin-top: 10%;
    align-self: flex-start;
}

#buttonContainer{
    display: flex;
    width:80%;
    padding:1em;
    margin-top:2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    background-color: #E26A2C;
}

#buttonContainer button{
    border: none;
    border-radius: 1em;
    padding: 1em;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    background-color: #FFD07F;
    width: 60%;
}

#buttonContainer button:first-child{
    margin-bottom: 1em;
}

#reviewsContainer{
    width: 100%;
}