<app-nav-bar></app-nav-bar>
<div id="imageContainer">
    <a routerLink="/configuration"><img src="../../assets/images/configuration.png"></a>
    <a routerLink="/help"><img src="../../assets/images/doubts.png"></a>
</div>

<div id="informationContainer">
<img id="profilePic" src="../../../assets/images/userUnlogged.png">

<h2>Username</h2>
<h2>Email@youremail.com</h2>

<div id="buttonContainer" *ngxPermissionsOnly="['ROLE_ADMIN']">
    <button routerLink="/adminPlace">List Places</button>
    <button routerLink="/adminUsers">List Users</button>
</div>

<p>Reviews: </p>

<app-review-card score="0" place="Roque Nublo" date="22/07/11"></app-review-card>
<app-review-card score="1" place="Maspalomas" date="25/07/11"></app-review-card>
</div>
