#imageContainer{
    position: absolute;
    display: flex;
    justify-content: end;
}
a{
    width: 10%;
    margin-top: 5%;
    margin-right:8%;
}
div img{
    width: 100%;
    margin:3%;
}
#profilePic{
    width:50%;
    margin-left: 5%;
}
#informationContainer{
    margin-top:10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#informationContainer h2{
    margin-left: 10%;
    margin-top: 5%;
    align-self: flex-start;
}

#informationContainer p{
    font-weight: bold;
    margin-left: 10%;
    margin-top: 10%;
    align-self: flex-start;
}