#imageContainer{
    position: absolute;
    display: flex;
    justify-content: end;
}
a{
    width: 10%;
    margin-top: 5%;
    margin-right:8%;
}
div img{
    width: 100%;
    margin:3%;
}
#profilePic{
    width:50%;
    margin-left: 5%;
}
#informationContainer{
    margin-top:10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#informationContainer h2{
    margin-left: 10%;
    margin-top: 5%;
    align-self: flex-start;
}

#informationContainer p{
    font-weight: bold;
    margin-left: 10%;
    margin-top: 10%;
    align-self: flex-start;
}

#buttonContainer{
    display: flex;
    width:80%;
    padding:1em;
    margin:1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    background-color: #E26A2C;
}

#buttonContainer button{
    border: none;
    border-radius: 1em;
    margin-top:1em;
    padding: 1em;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    background-color: #FFD07F;
    width: 60%;
}