#containerComment{
    width: 80%;
    background-color: white;
    border: solid 1px black;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 0.5em;
}

img{
    padding: 0.2em;
    width: 3em;
}

#topPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

h3{
    padding:0.5em;
}

p{
    padding: 0.5em;
}

#like{
    background-color: #68FF92;
}

#dislike{
    margin-left: 10em;
    background-color: #FC7979;
}

#delete{
    position: absolute;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 16px;
    color: white;
    left: 87%;
    border: none;
    border-radius: 0.2em;
    background-color: red;
}